version: '3.9'

networks:
  ros:
    driver: bridge

services:
  ros_master:
    image: ros:melodic-ros-core
    command: stdbuf -o L roscore
    networks:
      - ros
    restart: always

  motor_driver_container:
    build:
      context: ./MotorDriver
    devices:
      - /dev/i2c-1
    volumes:
      - ./MotorDriver/catkin_ws:/catkin_ws
    depends_on:
      - ros_master
    environment:
      - "ROS_MASTER_URI=http://ros_master:11311"
    networks:
      - ros
    restart: always

  robot_application_container:
    build:
      context: ./RobotApplication
    volumes:
      - ./RobotApplication/catkin_ws:/catkin_ws
    depends_on:
      - ros_master
    environment:
      - "ROS_MASTER_URI=http://ros_master:11311"
    networks:
      - ros
    restart: always

  server_container:
    ports:
      - "5170:5170"
    build:
      context: ./Server
    volumes:
      - ./Server/nodejs_ros_server:/nodejs_ros_server
    depends_on:
      - ros_master
    environment:
      - "ROS_MASTER_URI=http://ros_master:11311"
    networks:
      - ros
    restart: always
  
  video_streaming_container:
    ports:
      - "8080:8080"
    build:
      context: ./VideoStreaming
    devices:
      - /dev/video0
    volumes:
      - ./VideoStreaming/catkin_ws:/catkin_ws
    depends_on:
      - ros_master
    environment:
      - "ROS_MASTER_URI=http://ros_master:11311"
    networks:
      - ros
    restart: always

    # docker run --rm -p 4040:4040 -p 5000:5000 -e NGROK_PORT="host.docker.internal:5000" -e NGROK_SUBDOMAIN=aldajo92 wernight/ngrok
